cryspy==0.*,>=0.4.11
git+https://github.com/easyScience/easyCore.git@xarray#egg=easyCore
hvplot==0.*,>=0.7.0
jupyter==1.*,>=1.0.0
git+https://github.com/easyScience/libsDarwin.git@main#egg=libsDarwin; sys_platform == "darwin"
git+https://github.com/easyScience/libsLinux.git@main#egg=libsLinux; sys_platform == "linux"
git+https://github.com/easyScience/libsWin32.git@main#egg=libsWin32; sys_platform == "win32"
pytest==5.*,>=5.2.0
requests==2.*,>=2.24.0
toml==0.*,>=0.10.0
