cryspy @ git+https://github.com/ikibalin/cryspy.git@bravis_type_fix
--extra-index-url https://easyscience.github.io/pypi
easysciencecore @ git+https://github.com/easyScience/easyCore.git@easyCrystallography_Split
easycrystallography @ git+https://github.com/easyScience/easyCrystallography.git@develop
cfml==0.0.1
gsasii==0.0.1
